@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E5E5E5;
}

.app {
  margin: 5rem auto;
  max-width: 550px;
  min-width: 550px;
  background-color: white;
  padding-bottom: 2.5rem;
}

.app nav {
  height: 6.5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.18%, #672280), to(#A626D3));
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  color: white;
}

.app nav .right {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.app nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20.75px;
  font-weight: 700;
  color: white;
}

.app nav .logo img {
  width: 31px;
  height: 26px;
  margin-right: 0.6rem;
}

.app main {
  width: 100%;
  margin: 0 auto;
}

.app main .form {
  margin: 3.5rem 2rem;
}

.app main .form .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

.app main .form .input input {
  width: 47.5%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.app main .form button {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.18%, #672280), to(#A626D3));
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  font-family: 'Karla';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.1em;
  color: white;
  border: none;
  cursor: pointer;
}

.app main .image-wrapper {
  margin: 1.5rem auto;
  position: relative;
}

.app main .image-wrapper p {
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  padding-inline: 0.5rem;
  padding-block: 2rem;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.app main .image-wrapper .meme-image {
  max-width: 100%;
  display: block;
}

.app main .image-wrapper .top-text {
  top: 0%;
}

.app main .image-wrapper .bottom-text {
  position: absolute;
  bottom: 0%;
}

.box {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.box > div {
  margin-inline: auto;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
}

/* ==== sign up form === */
/*# sourceMappingURL=style.css.map */